{% extends 'base.html' %} {% block head %}
<title>Bloggy App - Made for Blogs</title>
{% endblock %} {% block body %}
<br />
<h1>Home Page</h1>
<br />
<div class="jumbotron">
  <div class="col-sm-8 mx-auto">
    <h1>Welcome!</h1>
    <p>
      Welcome to the Bloggy App Website! here we're making Blog Posts and YOU
      can Delete and Edit them OR <a href="/posts/new/">Create</a> Ones.
    </p>
    <p>Are you Intrested?</p>
    <p>
      <a href="/posts/"
        ><button class="btn btn-primary">
          Go to the Posts Page &raquo;
        </button></a
      >
    </p>
  </div>
</div>
{% endblock %}
